.list-wrapper{

    .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

        p{
            width: 20%;
        }

        p:nth-child(3){
            width: 5%;
        }

        p:last-child{
            width: 30%;
        }
    }

    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: 20px 0;
        border: 1px solid #B7B7B7;
        border-radius: 5px;
        margin-bottom: 40px;

        &:first-child{
            margin-top: 20px;
        }

        &:nth-child(2){
            background-color: red;
            width: 5%;
        }

        &:last-child{
            margin-bottom: 200px;
        }

        div{
            width: 20%;

            p{
                font-size: 14px;
                font-weight: 400;
                color: #B7B7B7;
                margin-top: 5px;
            }

            &:nth-child(3){
                align-self: center;
                width: 5%;
            }
    
            &:last-child{
                width: 30%;
            }
        }

        
    }
}